<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>

<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>

<style>

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
color:#fff;
}

body{
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
background:transparent;
}

.container{
position:relative;
width:550px;
height:350px;
border:2px solid #e46033;
box-shadow:0 0 25px #e46033;
border-radius:15px;
background:linear-gradient(135deg,#25252b 60%,#e46033 100%);
overflow:hidden;
}

.form-box{
position:absolute;
top:0;
width:50%;
height:100%;
display:flex;
flex-direction:column;
justify-content:center;
padding:0 25px;
}

.form-box h2{
font-size:22px;
text-align:center;
margin-bottom:15px;
}

.input-box{
position:relative;
width:100%;
height:40px;
margin-top:15px;
}

.input-box input{
width:100%;
height:100%;
background:transparent;
border:none;
outline:none;
font-size:13px;
font-weight:600;
border-bottom:2px solid #fff;
padding-right:25px;
}

.input-box input:focus{
border-bottom:2px solid #e46033;
}

.input-box label{
position:absolute;
top:50%;
left:0;
transform:translateY(-50%);
font-size:13px;
transition:.3s;
}

.input-box input:focus~label,
.input-box input:valid~label{
top:-5px;
color:#e46033;
}

.input-box box-icon{
position:absolute;
right:0;
top:50%;
transform:translateY(-50%);
color:#fff;
}

.btn{
position:relative;
width:100%;
height:35px;
background:transparent;
border-radius:40px;
cursor:pointer;
font-size:13px;
font-weight:600;
border:2px solid #e46033;
overflow:hidden;
z-index:1;
margin-top:15px;
}

.btn::before{
content:"";
position:absolute;
height:300%;
width:100%;
background:linear-gradient(#25252b,#e46033,#25252b,#e46033);
top:-100%;
left:0;
z-index:-1;
transition:.5s;
}

.btn:hover:before{
top:0;
}

.regi-link{
font-size:12px;
text-align:center;
margin-top:10px;
}

.regi-link a{
text-decoration:none;
color:#e46033;
font-weight:600;
}

.regi-link a:hover{
text-decoration:underline;
}

.info-content{
position:absolute;
right:0;
top:0;
width:50%;
height:100%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:flex-end;
text-align:right;
padding:0 40px;
}

.logo-container{
display:flex;
justify-content:center;
margin-bottom:10px;
}

.logo-container img{
width:180px;
height:90px;
object-fit:contain;
}

.curved-shape{
position:absolute;
right:0;
top:-5px;
height:450px;
width:650px;
background:linear-gradient(45deg,#25252b,#e46033);
transform:rotate(10deg) skewY(40deg);
transform-origin:bottom right;
}

</style>
</head>

<body>

<div class="container">

<div class="curved-shape"></div>

<div class="form-box">

<h2>Login</h2>

<form method="post" action="/player/growid/login/validate" id="loginForm">

<input name="type" value="log" type="hidden"/>
<input name="_token" value="<%= JSON.stringify(data) %>" type="hidden"/>

<div class="input-box">
<input type="text" name="growId" id="loginGrowId">
<label>GrowID</label>
<box-icon type="solid" name="user" color="#fff"></box-icon>
</div>

<div class="input-box">
<input type="password" name="password" id="loginPassword">
<label>Password</label>
<box-icon type="solid" name="lock-alt" color="#fff"></box-icon>
</div>

<button type="submit" class="btn">Login</button>

<div class="regi-link">
<p>Don't have an account?<br>
<a href="#" class="SignUpLink">Sign Up</a>
</p>
</div>

</form>

</div>

<div class="info-content">

<div class="logo-container">
<img src="/game_title.png">
</div>

<h2>WELCOME BACK!</h2>
<p>We are happy to have you with us again.</p>

</div>

</div>

<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

<script>

document.addEventListener("DOMContentLoaded",()=>{

const form = document.getElementById("loginForm")
const signUp = document.querySelector(".SignUpLink")

form.addEventListener("submit",(e)=>{

const growId = document.getElementById("loginGrowId").value
localStorage.setItem("growId",growId)

})

signUp.addEventListener("click",(e)=>{

e.preventDefault()

document.getElementById("loginGrowId").value=""
document.getElementById("loginPassword").value=""

form.submit()

})

})

</script>

</body>
</html>
